@import "tailwindcss";

@theme {
  --font-clash: var(--font-clash), sans-serif;
  --font-urbanist: var(--font-urbanist), sans-serif;
}

:root {
  --background: #121212;
  --foreground: #F5F5F0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbanist), sans-serif;
}

/* Scroll suave */
html {
  scroll-behavior: smooth;
}