@import "tailwindcss";

@theme {
  --font-clash: var(--font-clash), sans-serif;
  --font-urbanist: var(--font-urbanist), sans-serif;
  --color-sayni-lime: #BCC90F;
  --color-sayni-black: #121212;
  --color-sayni-darkGreen: #1B2A1E;
  --color-sayni-olive: #A1AC0C;
  --color-sayni-light: #F5F5F5;
}

:root {
  --background: #121212;
  --foreground: #F5F5F0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbanist), sans-serif;
}

/* Scroll suave */
html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}
